---
export const title = "My Projects";

import Layout from "../layouts/Layout.astro";
import ProjectsShowcase from "../components/ProjectsShowcase.svelte";
---

<Layout title="My Projects">
    <div class="text-center mb-12 mt-8">
        <h1
            class="page-title text-4xl md:text-5xl font-bold text-gray-800 tracking-tight"
        >
            {title}
        </h1>
        <p class="mt-4 text-lg text-gray-600 max-w-2xl mx-auto">
            Here are some of the projects I've been working on. Feel free to
            explore and check out the code.
        </p>
    </div>

    <ProjectsShowcase client:load />
</Layout>
