<div class="justify-center items-center">
    <h1 class="text-2xl font-bold">Contact</h1>
    
    <.quoteblock quote={"One must still have chaos in oneself to be able to give birth to a dancing star."} author={"Friedrich Nietzsche"} />

    <p>If you want to contact me email me at: <a href="mailto:ayanami.stella@proton.me" class="text-blue-500 hover:text-blue-700">ayanami.stella@proton.me</a></p>
</div>