---

---

<div
    {/* we say prose-img:mt-0 so our images shown in the
     artwork gallery and on the home page dont have a white margin 
     on top of it*/}
    class="prose-img:mt-0 mx-auto px-4 sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl prose text-justify"
>
    <slot />
</div>
