---
import Search from "./Search.svelte";
---

<nav class="flex flex-row justify-center items-center mt-8">
    <a class="mr-4" href="/">Home</a>
    <a class="mr-4" href="/blog">Blog</a>
    <a class="mr-4" href="/artworks">Artworks</a>
    <a class="mr-4" href="/projects">Projects</a>
    <a class="mr-4" href="/about">About</a>
    <a
        class="mr-4"
        href="https://github.com/AyanamiKaine/Ayanami-sTower"
        target="_blank"
        rel="noopener noreferrer">Monorepo</a
    >
    <Search client:load />
</nav>
