---

---

<nav>
    <a class="mr-2" href="/">Home</a>
    <a class="mr-2" href="/blog">Blog</a>
    <a class="mr-2" href="/artworks">Artworks</a>
    <a class="mr-2" href="/about">About</a>
    <a class="mr-2" href="https://github.com/AyanamiKaine/Ayanami-sTower"
        >My Monorepo</a
    >
</nav>
