---
import FullScreenAppLayout from "../../layouts/FullScreenAppLayout.astro";
import SimpleFlow from "../../components/app/dialogEditor/DialogEditor.svelte";
---

<FullScreenAppLayout title="Dialog Editor">
    <div class="w-full h-full bg-gray-800">
        <SimpleFlow client:load />
    </div>
</FullScreenAppLayout>
